@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Azure GitHub Integration.</p>
    <p>Join us for the fun.</p>
    <p>By</p>
    <p>Shantanu Pandey</p>
</div>
